/*  ~~~~~ SITE ~~~~~ */

* {
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

body {
    font-family: Helvetica, Futura, Avenir, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .9em;
    background: rgb(245, 245, 245);
}

a {
    font-weight: 500;
    color: #5382A1;
    text-decoration: none;
}

a:hover,
a:focus {
    color: currentColor;
}

/*  ~~~~~ END SITE ~~~~~ */


/*  ~~~~~ HEADER ~~~~~ */

#header {
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

#header #heading {
    flex-direction: column;
    align-self: flex-end;
    color: #5382A1;
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
}

#header h1,
#header h2 {
    margin: 0;
    text-shadow: 1.5px 1.5px rgba(255, 255, 255, .5);
}

#header h1 {
    text-transform: uppercase;
    font-size: 1rem;
}

#header h2 {
    font-size: 3rem;
}

/*  ~~~~~ END HEADER ~~~~~ */


/*  ~~~~~ MAIN CONTENT ~~~~~ */

.content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

#header #heading {
    padding-left: 10px;
}

.content h3,
.content h4 {
    margin: 0.5rem 0;
    font-weight: 800;
}

.content a:hover {
    color: #ff6030;
}

.content pre {
    overflow: auto;
    padding-right: 10px;
    border: 1px dashed #ff6030;
    background: #efefef;
}

.content ul {
    padding-left: 15px;
}

.content ul li {
    margin-bottom: 0.5rem;
}

.content form{
    display: inline;
}

.content .formular fieldset {
    border: 1px solid #5382A1;
    margin: 10px auto;
    padding: 5px 15px;
}

.content .formular fieldset legend {
    padding: 0 5px;
}

.content .formular label,
.content .formular input,
.content .formular textarea {
    display: inline;
    margin-right: 5px;
}

.content .formular input {
    margin-bottom: 10px;
}

.content .formular input[type="text"],
.content .formular input[type="date"],
.content .formular textarea {
    border: 0;
    box-shadow: inset 0 0 2px 1px rgba(138, 138, 138, .5);
    width: 100%;
    height: 30px;
    border-radius: 4px;
    padding: 5px 10px;
}

.content .formular textarea {
    height: 50px;
}

.content .formular button {
    margin-top: 20px;
    float: right;
}

.content .formular input:focus,
.content .formular textarea:focus {
    outline: #ff6030 auto 5px;
}

.content strong{
    font-weight: 600;
}

.content table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
}

.content table td, th {
    text-align: center;
    border: 1px solid #5382A1;
    width: 100px;
    padding: 0.5rem;
}

/*  ~~~~~ END MAIN CONTENT ~~~~~ */


/*  ~~~~~ FOOTER ~~~~~ */

footer {
    margin: 20px 0 10px 0;
    text-align: center;
    color: gray;
    clear: both;
}

/*  ~~~~~ END FOOTER ~~~~~ */


/*  ~~~~~ MOBILE ~~~~~ */

@media screen and (max-width:768px) {

    /*  ~~~~~ HEADER MOBILE ~~~~~ */

    #header {
        width: 100%;
    }

    /*  ~~~~~ END HEADER MOBILE ~~~~~ */

}

/*  ~~~~~ END MOBILE ~~~~~  */