/*  ~~~~~ SITE ~~~~~ */

* {
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

body {
    font-family: Helvetica, Futura, Avenir, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .9em;
    background: rgb(245, 245, 245);
}

a {
    font-weight: 500;
    color: #5382A1;
    text-decoration: none;
}

a:hover,
a:focus {
    color: currentColor;
}


/*  ~~~~~ END SITE ~~~~~ */


/*  ~~~~~ HEADER ~~~~~ */

#header {
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

#header #heading {
    flex-direction: column;
    align-self: flex-end;
    color: #5382A1;
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
}

#header h1,
#header h2 {
    margin: 0;
    text-shadow: 1.5px 1.5px rgba(255, 255, 255, .5);
}

#header h1 {
    text-transform: uppercase;
    font-size: 1rem;
}

#header h2 {
    font-size: 3rem;
}


/*  ~~~~~ END HEADER ~~~~~ */


/*  ~~~~~ MAIN CONTENT ~~~~~ */

.content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

#header #heading {
    padding-left: 10px;
}

.content h3,
.content h4 {
    margin: 0.5rem 0;
    font-weight: 800;
}

.content a:hover {
    color: #ff6030;
}

.content pre {
    overflow: auto;
    padding-right: 10px;
    border: 1px dashed #ff6030;
    background: #efefef;
}

.content ul {
    padding-left: 15px;
}

.content ul li {
    margin-bottom: 0.5rem;
}

.content #formular fieldset {
    border: 1px solid #ff6030;
    margin: 20px auto;
    padding: 20px;
}

.content #formular fieldset legend {
    padding: 0 5px;
}

.content #formular label,
.content #formular input,
.content #formular textarea {
    display: block;
}

.content #formular input {
    margin-bottom: 10px;
}

.content #formular input[type="text"],
.content #formular input[type="email"],
.content #formular input[type="date"],
.content #formular textarea {
    border: 0;
    box-shadow: inset 0 0 2px 1px rgba(138, 138, 138, .5);
    width: 100%;
    height: 30px;
    border-radius: 4px;
    padding: 5px 10px;
}

.content #formular textarea {
    height: 200px;
}

.content #formular button {
    margin-top: 20px;
    float: right;
}

.content #formular .gender {
    width: 100%;
}

.content #formular .gender input,
.content #formular .gender label {
    float: left;
    height: 30px;
    line-height: 30px;
}

.content #formular .gender label {
    padding-left: 5px;
}

.content #formular .gender label {
    margin-right: 10px;
}

.content #formular input:focus,
.content #formular textarea:focus {
    outline: #ff6030 auto 5px;
}

.content strong{
    font-weight: 600;
}

.content ol {
    display: block;
    position: fixed;
    left: 10px;
    top: 44%;
    width: 11rem;
    margin: 0;
}

.content table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 200px;
    margin-top: 2rem;
}

.content table td, th {
    text-align: center;
    border: 1px solid black;
    width: 100px;
    padding: 0.5rem;
}


/*  ~~~~~ END MAIN CONTENT ~~~~~ */

/*  ~~~~~ JS STEIN, SCHERE, PAPIER ~~~~~  */
.gamebox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    min-width: 150px;
    padding: 10px 15px;
    margin: 25px auto 0 auto;
    height: 100%;
    border: 1px dashed #ff6030;
    background: rgba(83, 130, 161, .2);
}

.gamebox button {
    font-weight: 600;
    width: 85px;
    height: 30px;
    margin: 5px 10px;
}

.gamebox button:hover {
    background: rgba(83, 130, 161, .3);
}

.gamebox button:focus {
    background: rgba(83, 130, 161, .7);
    outline-color: rgba(255, 96, 48, 1);
}

.gamebox #start {
    width: 110px;
    height: 45px;
    line-height: 1.3;
    font-weight: 900;
    color: white;
    background: rgba(83, 130, 161, .7)
}

.gamebox #start:hover {
    background: rgba(83, 130, 161, 1);
}

.gamebox #start:focus {
    background: rgba(255, 96, 48, 1);
    outline-color: rgba(83, 130, 161, 1);
}

.gamebox #choicebox,
.gamebox #resultbox {
    width: 90%;
    height: 100%;
    margin: 10px  auto;
    padding: 10px 15px;
    border: 1px dashed #ff6030;
    background: rgba(83, 130, 161, .2);
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;

}

.gamebox #resultbox {
    min-height: 85px;
}


.gamebox #resultbox p {
    width: 100%;
    margin: 0 auto;
}


/*  ~~~~~ END JS STEIN, SCHERE, PAPIER ~~~~~  */


/*  ~~~~~ FOOTER ~~~~~ */

footer {
    margin: 20px 0 10px 0;
    text-align: center;
    color: gray;
    clear: both;
}

/*  ~~~~~ END FOOTER ~~~~~ */


/*  ~~~~~ MOBILE ~~~~~ */

@media screen and (max-width:768px) {

    /*  ~~~~~ HEADER MOBILE ~~~~~ */

    #header {
        width: 100%;
    }

    /*  ~~~~~ END HEADER MOBILE ~~~~~ */

}

/*  ~~~~~ END MOBILE ~~~~~  */


/*  ~~~~~ 2ND NAV ~~~~~  */

@media screen and (max-width:1100px) {
    .content ol {
        position: static;
        padding-left: 23px;
    }
}

/*  ~~~~~ END 2ND NAV ~~~~~  */