<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo-List</title>
    <meta charset="utf-8">
    <meta name="author" content="Tanyel Stoyloff / s0556435, Finn Christians / s0556022">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<header>
    <section id="header">
        <div id="heading">
            <h1>Informatik 3</h1>
            <h2>Todo-List</h2>
        </div>
    </section>
</header>
<section class="content">
    <p>Please read the instructions at the bottom of this page before you start using the Todo-List.</p>
    <form action="/add" method="post" class="formular" name="AddForm">
        <fieldset>
            <legend>Add a new task to your Todo-List</legend>
            <label for="task">Task</label>
            <input type="text" name="task" id="task" placeholder="What is your task?" required>

            <label for="description">Description</label>
            <input type="text" name="description" id="description" placeholder="Describe your task shortly." required>

            <label for="due">Due</label>
            <input type="date" name="due" id="due" placeholder="YYYY-MM-DD" required>

            <input type="submit" value="Add">
        </fieldset>
    </form>
    <form action="/search_by_id" method="post"  class="formular" name="SearchForm">
        <fieldset>
            <legend>Search for a specific task in your List</legend>
            <input type="text" name="search" id="search" placeholder="Todo-ID" required>

            <input type="submit" value="Search Item">
        </fieldset>
    </form>
    <form action="/"  class="formular">
        <input type="submit" value="Show complete Todo-List">
    </form>
    <form action="/create_example_db" method="post" class="formular">
        <input type="submit" value="Create Example Todo-List">
    </form>
    <table>
        <tr><th>Todo-ID</th>
            <th>Task</th>
            <th>Description</th>
            <th>Due to</th>
            <th>Create Date</th>
            <th>State</th>
            <th>Remove</th>
        </tr>{% for entry in entries %}<tr>
        <td> {{ entry.serial }} </td>
        <td> {{ entry.task }} </td>
        <td> {{ entry.description }} </td>
        <td> {{ entry.due }} </td>
        <td> {{ entry.date }} </td>
        <td><form action="/complete">
            <input type="hidden" value="{{entry.done}}" name="done_to_complete">
            <input type="hidden" value="{{entry.serial}}" name="serial_to_complete">
            <input type="submit" value="{{entry.done}}">
        </form>
        </td>
        <td><form action="/delete">
            <input type=hidden value="{{entry.serial}}" name="serial_to_delete">
            <input type="submit" value="Remove">
        </form></td>
    </tr>
        {% endfor %}
    </table>
    <h3>The Todo-List's functionality:</h3>
    <ul>
        <li><strong>Add: </strong>All form fields for this button are required in order to add a new item to your Todo-List. The <i>Todo-ID</i> and the <i>Create Date</i> is generated automatically</li>
        <li><strong>Create Example Todo-List: </strong>This handy button will create a new example Todo-List. <strong><i>Caution! This function will override the current Todo-List without warning!</i></strong></li>
        <li><strong>Show complete Todo-List: </strong>This will allow you to see the complete Todo-List again, if you narrowed it down with a search beforehand.</li>
        <li><strong>Search Item: </strong>If you input a <i>Todo-ID</i> of your List the function will filter the item out. If you enter an invalid value you will not get any results.</li>
        <li><strong>New / Finished: </strong>Change the status of your task. <i>new</i> means the item is not completed yet. New items start in this state. Change the state to <i>finished</i> to mark your task as such. Click multiple times to change the status back and forth.</li>
        <li><strong>Remove: </strong>This will remove the task from the Todo-List. <strong><i>You cannot undo this.</i></strong></li>
    </ul>
    <p>This will complete the instructions. Have fun with keeping your life in order.</p>
</section>
<footer>&copy; 2017 | Tanyel Stoyloff &amp; Finn Christians | HTW</footer>
</body>
</html>